@import 'variables';
@import 'mixins';
.header {
	width: 100%;
	// 		max-width: 1600px;
	background: url("../img/hero-img.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 50px 0 45px;
	&__logo {
		display: block;
		width: 109px;
		height: 18px;
		background-image: url("../img/logo.png");
	}
	&-menu {
		text-align: right;
		padding-right: 70px;
		font-size: 0;
		&__item {
			display: inline-block;
			margin-left: 52px;
		}
		&__link {
			color: #fffefe;
			font-family: $font-lato;
			font-size: 14px;
			font-weight: 500;
			//		line-height: 28px;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				opacity: 0.5;
				text-decoration: underline;
			}
			&:active {
				font-weight: bold;
			}
		}
	}
	&__title {
		text-align: center;
		color: #ffffff;
		font-family: $font-raleway;
		font-size: 48px;
		font-weight: 700;
		text-transform: uppercase;
		padding-top: 240px;
		margin-bottom: 41px;
	}
	&__line {
		@include lines;
		background-color: #ffffff;
		margin: $center; // for IE
		margin-bottom: 36px;
	}
	&__desc {
		width: 596px;
		margin: $center;
		color: #fffefe;
		font-family: $font-lato;
		font-size: 22px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		padding-bottom: 254px;
	}
	&__button {
		display: block;
		width: 93px;
		height: 93px;
		background-image: url("../img/button-arrow.png");
		opacity: 0.5;
		margin: $center;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px transparent;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		&:hover,
		&:focus,
		&:active {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
			transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
		}
	}
}